<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516736941441-8m7f1u8hs2hqu418mrclqurcfo3f3nv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516736941441-8m7f1u8hs2hqu418mrclqurcfo3f3nv0</string>
	<key>API_KEY</key>
	<string>AIzaSyAwncDNqNKO8dn2EIp4PBWoyFGq3cUgi68</string>
	<key>GCM_SENDER_ID</key>
	<string>516736941441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AnimalLover</string>
	<key>PROJECT_ID</key>
	<string>animalproject-300804</string>
	<key>STORAGE_BUCKET</key>
	<string>animalproject-300804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516736941441:ios:c242ed250e31e2d8c23c80</string>
</dict>
</plist>